# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code from [lecture 5](https://numeconcopenhagen.netlify.com/lectures/Workflow_and_debugging).
> 1. Remember this [guide](https://www.markdownguide.org/basic-syntax/) on markdown and (a bit of) latex.
> 1. Turn on automatic numbering by clicking on the small icon on top of the table of contents in the left sidebar.
> 1. The `dataproject.py` file includes a function which will be used multiple times in this notebook.

Imports and set magics:

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
from matplotlib_venn import venn2 

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# local modules
import dataproject

# import pydst
import pydst
dst = pydst.Dst(lang='en')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Read and clean data

## Employment data

**Read the employment data** in ``RAS200.xlsx`` and **clean it** removing and renaming columns:

In [118]:
educ_vars = dst.get_variables(table_id='HFUDD10')
educ_vars

#a. Download data
educ = dst.get_data(table_id = 'HFUDD10', variables={'Tid':['*'],'HERKOMST':['*'], 'HFUDD':['TOT','H30', 'H40', 'H50', 'H60', 'H70'], 'KØN':['*']})
educ.head(10)

# b. drop columns
drop_these = ['BOPOMR','ALDER']
educ.drop(drop_these, axis=1, inplace=True)
educ.head(10)


# c. rename columns
educ.rename(columns = {'HERKOMST':'Ancestry','HFUDD':'HCEDUC', 'KØN':'Gender', 'TID':'Year', 'INDHOLD':'Units'}, inplace=True)
educ.head(10)

# d. Clean values in HCEDUC
educ['HCEDUC']=educ.HCEDUC.astype(str).str[4:]
educ.head(10)

   Year    Ancestry                                   HCEDUC Gender  Units
0  2006  Descendant  Vocational Education and Training (VET)  Women   1938
1  2006  Descendant  Vocational Education and Training (VET)    Men   1756
2  2006  Descendant  Vocational Education and Training (VET)  Total   3694
3  2006  Descendant             Short cycle higher education  Women    314
4  2006  Descendant             Short cycle higher education    Men    370
5  2006  Descendant             Short cycle higher education  Total    684
6  2006  Descendant          Vocational bachelors educations  Women    829
7  2006  Descendant          Vocational bachelors educations    Men    509
8  2006  Descendant          Vocational bachelors educations  Total   1338
9  2006  Descendant                     Bachelors programmes  Women    302

In [129]:
educ.groupby(['Year','Ancestry']).describe()

                              Units                                        \
                              count           mean           std      min
Year Ancestry
2006 Descendant                18.0    4322.111111  8.360324e+03    241.0
     Immigrants                18.0   49139.666667  7.894264e+04   1153.0
     Persons of Danish origin  18.0  615000.000000  9.120313e+05  25675.0
     Total                     18.0  668461.777778  9.984708e+05  27069.0
2007 Descendant                18.0    4782.444444  9.278292e+03    261.0
     Immigrants                18.0   51230.000000  8.257102e+04   1316.0
     Persons of Danish origin  18.0  617012.555556  9.113469e+05  26506.0
     Total                     18.0  673025.000000  1.002246e+06  28083.0
2008 Descendant                18.0    5337.333333  1.037295e+04    306.0
     Immigrants                18.0   54052.333333  8.742805e+04   1465.0
     Persons of Danish origin  18.0  619075.000000  9.109489e+05  27380.0
     Total                     18.0  678464.666667  1.007683e+06  29151.0
2009 Descendant                18.0    5941.666667  1.152655e+04    373.0
     Immigrants                18.0   57450.666667  9.289664e+04   1762.0
     Persons of Danish origin  18.0  620973.555556  9.104649e+05  28660.0
     Total                     18.0  684365.888889  1.013698e+06  30795.0
2010 Descendant                18.0    6436.666667  1.247899e+04    438.0
     Immigrants                18.0   59645.111111  9.577605e+04   2085.0
     Persons of Danish origin  18.0  623499.000000  9.108616e+05  29605.0
     Total                     18.0  689580.777778  1.017842e+06  32128.0
2011 Descendant                18.0    7082.000000  1.369299e+04    492.0
     Immigrants                18.0   62078.888889  9.907797e+04   2415.0
     Persons of Danish origin  18.0  625347.333333  9.104087e+05  30604.0
     Total                     18.0  694508.222222  1.021789e+06  33511.0
2012 Descendant                18.0    7771.000000  1.498701e+04    582.0
     Immigrants                18.0   64415.000000  1.018317e+05   2620.0
     Persons of Danish origin  18.0  626419.000000  9.089333e+05  31630.0
     Total                     18.0  698605.000000  1.024268e+06  34832.0
2013 Descendant                18.0    8485.333333  1.625779e+04    662.0
     Immigrants                18.0   67135.000000  1.049930e+05   2878.0
     Persons of Danish origin  18.0  626482.777778  9.060061e+05  32466.0
     Total                     18.0  702103.111111  1.025707e+06  36006.0
2014 Descendant                18.0    9210.888889  1.750812e+04    769.0
     Immigrants                18.0   70684.000000  1.090809e+05   3086.0
     Persons of Danish origin  18.0  625906.666667  9.017485e+05  33897.0
     Total                     18.0  705801.555556  1.026698e+06  37752.0
2015 Descendant                18.0   10031.000000  1.886862e+04    871.0
     Immigrants                18.0   75130.000000  1.138895e+05   3469.0
     Persons of Danish origin  18.0  624708.555556  8.961493e+05  35789.0
     Total                     18.0  709869.555556  1.027158e+06  40190.0
2016 Descendant                18.0   10903.333333  2.030468e+04    951.0
     Immigrants                18.0   81852.111111  1.214701e+05   3689.0
     Persons of Danish origin  18.0  622855.111111  8.898098e+05  37535.0
     Total                     18.0  715610.555556  1.029615e+06  42295.0
2017 Descendant                18.0   11807.111111  2.171519e+04   1062.0
     Immigrants                18.0   86759.222222  1.271895e+05   3713.0
     Persons of Danish origin  18.0  620647.666667  8.825462e+05  37981.0
     Total                     18.0  719214.000000  1.029360e+06  42899.0
2018 Descendant                18.0   12704.333333  2.311083e+04   1166.0
     Immigrants                18.0   90385.777778  1.314198e+05   3687.0
     Persons of Danish origin  18.0  618558.333333  8.760603e+05  37890.0
     Total                     18.0  721648.444444  1.028474e+06  42859.0
2019 Descendant                18.0   13586.111111  2.443914e+04   1270.0
     Immigrants                18.0   93163.888889  1.347042e+05   3762.0
     Persons of Danish origin  18.0  617027.444444  8.709644e+05  38166.0
     Total                     18.0  723777.444444  1.027946e+06  43347.0


                                     25%       50%        75%        max
Year Ancestry
2006 Descendant                   478.25     756.5    1892.50    31603.0
     Immigrants                  8215.00   15535.0   35095.75   305451.0
     Persons of Danish origin   79962.50  172620.0  640382.00  3496305.0
     Total                      88572.00  190275.5  677279.25  3833359.0
2007 Descendant                   538.50     837.0    2032.75    35065.0
     Immigrants                  8554.50   16026.5   35891.50   319544.0
     Persons of Danish origin   81974.75  177514.0  637801.50  3498373.0
     Total                      90958.50  196089.0  675623.25  3852982.0
2008 Descendant                   605.50     940.0    2222.25    39195.0
     Immigrants                  9078.00   16804.5   36947.00   338460.0
     Persons of Danish origin   84330.75  182499.5  634986.75  3501656.0
     Total                      93889.00  202365.5  674054.50  3879311.0
2009 Descendant                   688.25    1063.0    2431.50    43574.0
     Immigrants                  9809.75   17934.5   38362.50   359980.0
     Persons of Danish origin   86595.50  186821.5  632406.00  3504383.0
     Total                      96941.25  208449.5  673113.00  3907937.0
2010 Descendant                   727.00    1157.5    2632.00    47183.0
     Immigrants                 10469.25   19014.5   39056.50   371866.0
     Persons of Danish origin   88723.25  191808.5  630725.50  3510353.0
     Total                      99784.00  215090.0  672292.00  3929402.0
2011 Descendant                   789.50    1344.0    2840.25    51805.0
     Immigrants                 11308.00   20192.5   39679.50   385437.0
     Persons of Danish origin   90851.50  196230.0  628265.00  3513315.0
     Total                     102837.25  221573.0  670593.00  3950557.0
2012 Descendant                   880.75    1528.5    3065.75    56734.0
     Immigrants                 12228.00   21620.5   40824.50   397065.0
     Persons of Danish origin   92892.75  200478.5  625232.50  3512040.0
     Total                     105865.00  228229.5  668482.00  3965839.0
2013 Descendant                   979.25    1761.5    3379.75    61614.0
     Immigrants                 13117.75   23201.0   43247.50   410355.0
     Persons of Danish origin   95094.75  204582.5  620734.25  3505297.0
     Total                     109176.75  235128.5  665332.75  3977266.0
2014 Descendant                  1101.00    2058.5    3640.75    66451.0
     Immigrants                 14194.50   25366.0   47365.50   427541.0
     Persons of Danish origin   97437.00  208902.0  614557.50  3494151.0
     Total                     112943.50  243281.0  660781.25  3988143.0
2015 Descendant                  1259.00    2395.5    4003.75    71748.0
     Immigrants                 15749.75   29026.0   53886.00   448005.0
     Persons of Danish origin   99438.00  213722.0  608148.75  3478066.0
     Total                     116846.50  253206.5  656496.75  3997819.0
2016 Descendant                  1479.25    2782.0    4528.25    77348.0
     Immigrants                 18305.00   34832.0   64439.25   479803.0
     Persons of Danish origin  101535.75  219034.5  599222.50  3459752.0
     Total                     121728.75  266598.5  653250.25  4016903.0
2017 Descendant                  1759.50    3132.0    5167.00    82909.0
     Immigrants                 20199.25   38463.5   71666.50   503510.0
     Persons of Danish origin  104303.25  226703.0  591261.25  3437906.0
     Total                     126731.75  280229.0  651050.50  4024325.0
2018 Descendant                  2065.75    3470.0    5793.50    88419.0
     Immigrants                 22037.00   40400.0   76430.00   521117.0
     Persons of Danish origin  106131.75  234301.5  585466.50  3418649.0
     Total                     130619.50  291579.0  648168.25  4028185.0
2019 Descendant                  2353.25    3866.0    6500.50    93692.0
     Immigrants                 23550.75   42626.5   80777.25   534730.0
     Persons of Danish origin  107813.50  241043.5  580499.00  3404385.0
     Total                     133870.50  298608.0  645030.25  4032807.0

In [127]:

# a. split
educ_grouped = educ.groupby(['Year','Ancestry'])
educ_grouped_first = educ_grouped.values.first()
educ_grouped_first.name = 'first'

# b. apply
educ.set_index(['Year','Ancestry','HCEDUC'],inplace=True)
educ = educ.join(educ_grouped_first,how='left',on=['Ancestry','HCEDUC'])
educ.reset_index(inplace=True)

# c. combine
educ['indexed'] = educ['Units']/educ['first']

# d. plot
def plot(df):
    df_indexed = df.set_index('Year')
    I = df_indexed.unit == 'Bachelors programmes'
    df_indexed[I].groupby(['Ancestry'])['indexed'].plot(legend=True);
    
plot(educ)

AttributeError: Cannot access attribute 'values' of 'DataFrameGroupBy' objects, try using the 'apply' method

## Income data

**Read the income data** in ``INDKP101.xlsx`` and **clean it**:

In [ ]:
# a. load
#inc = pd.read_excel('INDKP101.xlsx', skiprows=2)

# b. drop and rename columns
#inc.drop([f'Unnamed: {i}' for i in range(3)], axis=1, inplace=True)
#inc.rename(columns = {'Unnamed: 3':'municipality'}, inplace=True)

# c. drop rows with missing
#inc.dropna(inplace=True)

# d. remove non-municipalities
#inc = dataproject.only_keep_municipalities(inc)

# e. convert to long
#inc.rename(columns = {str(i):f'income{i}' for i in range(1986,2018)}, inplace=True)
#inc_long = pd.wide_to_long(inc, stubnames='income', i='municipality', j='year').reset_index()

# f. show
#inc_long.head(5)

> **Note:** The function ``dataproject.only_keep_municipalities()`` is used on both the employment and the income datasets.

## Explore data set

In order to be able to **explore the raw data**, we here provide an **interactive plot** to show, respectively, the employment and income level in each municipality

The **static plot** is:

In [ ]:
def plot_empl_inc(empl,inc,dataset,municipality): 
    
    if dataset == 'Employment':
        df = empl
        y = 'employment'
    else:
        df = inc
        y = 'income'
    
    I = df['municipality'] == municipality
    ax = df.loc[I,:].plot(x='year', y=y, style='-o')

The **interactive plot** is:

In [ ]:
widgets.interact(plot_empl_inc, 
    
    empl = widgets.fixed(empl_long),
    inc = widgets.fixed(inc_long),
    dataset = widgets.Dropdown(description='Dataset', 
                               options=['Employment','Income']),
    municipality = widgets.Dropdown(description='Municipality', 
                                    options=empl_long.municipality.unique())
                 
);

ADD SOMETHING HERE IF THE READER SHOULD KNOW THAT E.G. SOME MUNICIPALITY IS SPECIAL.

# Merge data sets

We now create a data set with **municpalities which are in both of our data sets**. We can illustrate this **merge** as:

In [ ]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('inc', 'empl'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

In [ ]:
merged = pd.merge(empl_long, inc_long, how='inner',on=['municipality','year'])

print(f'Number of municipalities = {len(merged.municipality.unique())}')
print(f'Number of years          = {len(merged.year.unique())}')

# Analysis

To get a quick overview of the data, we show some **summary statistics by year**:

In [ ]:
merged.groupby('year').agg(['mean','std']).round(2)

ADD FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.